/* General declarations */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 1450px;
}

* {
  box-sizing: content-box;
}

*:focus {
  outline: 1px solid #9ACD32;
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

embed, object, video {
  max-width: 100%;
}


/* Header: Menu icon (3 bars), Title */
nav {        
  height: 4.5vw;
  background-color: #9ACD32;
  display: flex;
  flex-direction: row;
  transition: margin-left 0.3s;
}

#sideNavButton {
  /*border: 1px solid black;*/
  display: inline-block;
  cursor: pointer;
  padding: 1vw;
}

.bar1, .bar2, .bar3 {
  width: 2vw;
  height: 0.4vw;
  background-color: #222222;
  margin: 0.33vw 0;
  transition: 0.5s;
}

.cross .bar1 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);  
}

.cross .bar2 { 
  display: none;
}

.cross .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.5vw, -0.5vw);  
  transform: rotate(45deg) translate(-0.5vw, -0.5vw);
}

#title {
  /*border: 1px solid black;*/
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

#title h1 {
  width: 100%;
  padding: 1vw 0 0 0;
  font-family: "Baloo Tammudu", cursive;
  font-weight: normal;
  color: #222222; 
  font-size: 1.5rem;
}

/* Searchbox */
#inputSight {
 border: 1px solid #9ACD32;
 width: 11.5vw;
 background-image: url('./../IMG/searchicon.png');
 background-size: 2vw 2vw;
 background-position: left;
 background-repeat: no-repeat;
 margin: 0 0 1vw 0;
 padding: 1vw 1vw 1vw 2.3vw;
 font-size: 0.8rem;
}


/* Sidepanel */
.sideNav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #222222;
  overflow-x: hidden;
  transition: 0.3s;
}

.sideNav a { 
  text-decoration: none;
  font-size: 1rem;
  font-family: "Baloo Tammudu", cursive;
  color: #818181;
  display: block;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.sideNav h2 {
  font-family: "Baloo Tammudu", cursive;
  color: #9ACD32;
  text-decoration: underline;
}

#sightList {
  margin: 0;
  padding: 0 0 0 1vw;
  list-style: none;
  text-align: left;
}

#sightList li {
  margin: 0;
  padding: 0;
}


/* Gmap */
main {
  padding: 0;
  height: 90vh;
  max-width: 100vw;
  transition: margin-left 0.3s;
}

#gMap {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* InfoWindow*/
#infWinCaption {
  text-align: center;
  font-family: "Baloo Tammudu", cursive;
  font-size: 1.2rem;
  color: #333333; 
  font-weight: normal;
}

#errMsg {
  text-align: center;
  font-size: 0.68rem;
}

/*
@media screen and (max-width: 450px) {

}
*/
